page-transfer-overview {
    ion-card-header {
        font-size: 22px !important;
    }
    p {
        font-size: 16px !important;
    }
    .button {
        margin-left: 10%;
        margin-right: auto;
        width: 80%;
        height: 100%;
        top: -5px;
    }   
}