page-config {
    h3 {
        font-size: 22px !important;
    }
    ion-select {
        width: 100% !important;
        max-width: 100% !important;
    }
    ion-item {
        padding-left: 0 !important;
    }
    ion-select {
        padding-left: 0 !important;
    }
}
